/* colors: 
#CCFBFE
#CDD6DD
#CDCACC
#CDACA1
#CD8987
*/

* {
    box-sizing: border-box;
    margin-top: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 20px;
}

.center {
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav img.logo {
    width: 400px;
}

nav ul li {
    display: inline;
    margin-left: 16px;
}

nav ul li a {
    text-decoration: none;
    color: #212529;
}

nav ul li a:hover {
    color: #CD8987;
}
.card {
    align-items: center;
    border: none !important;
}
.card a {
    text-decoration: none;
    align-items: center;
    color: #212529;
}

.card a:hover {
    color: white;
}

.card p {
    font-size: 70px;
    font-family:Arial, Helvetica, sans-serif;
}

.button {
    width: 40%;
    background-color: #D4E4F0;
    border-radius: 30px;
    border: none;
}

.button a {
    color: grey;
    font-family: inherit;

}

.overlay {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 40px;
    text-decoration: none;
    color: #CD8987;
}


.overlay img {
    width: 700px;
}
.gallery {
    background-color: #f3f5f7;
    color: #CD8987;
}
.content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
}

.content img {
    width: 500px;
}

.content h4 {
    margin-top: 20px;
}

.row1 {
    display: flex;
    justify-content: space-evenly;
    margin-right: 20px;
    margin-left: 20px;
    width: 100wv;
}

.row2 {
    display: flex;
    justify-content: space-evenly;
    margin-right: 20px;
    margin-left: 20px;
    width: 100wv;
}

.form-group {
    display: flex;
    justify-content: space-between;
    border: 2px #212529;
    padding: 10px;
    font-weight: bold;
}

.form-group label {
    margin-right: 15px;
}

.main-div {
    text-align: center;
    margin: 50px;
}

form {
    display: flex;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 20px;
    flex-direction: column;
    padding: 15px;
    justify-content: space-between;
}

#message {
    display: flex;
}

.submit-button {
    width: 25%;
    background-color: #D4E4F0;
    border-radius: 30px;
    border: none;
}

.contact-me {
    display: flex;
    justify-content: center;
}

footer {
    background-color: #CD8987;
    color: white;
    padding: 16px;
}

footer span {
    color: #CCFBFE;
    text-decoration: none;
}

footer a {
    color: white;
    text-decoration: none;
}